:root {
	--image-size: 2.25rem;
	
	/* Colors */
	--dark: #282E3A;
	--gray: #96A1AB;
	--gray-blue: #3D4957;
	--beige: #DBC7A6;
	--light-gray: #ECECEC;
	
	--line-spacing: 1.25;
	--max-size-main: 1168px;
	
	/* Font sizes */
	--normal-font-size: 16px;
	--small-font-size: 0.75rem;
	--big-font-size: 1.25rem;
	
	/* Indents */
	--normal-indent: 1rem;
	--big-indent: 1.5rem;
	--small-indent: 0.5rem;
	--very-small-indent: 0.25rem;
	
	
	/* Border raduises */
	--normal-radius: 0.5rem;
	--small-radius: 0.25rem;
}

* {
	box-sizing: border-box;
}

h1, h2, p {
	margin-top: var(--very-small-indent);
	margin-bottom: var(--very-small-indent);
}

body {
	display: flex;
	flex-direction: column;
	font-family: "Open Sans", sans-serif;
	line-height: var(--line-spacing);
	max-width: 1280px;
	min-height: 720px;
	margin: 0;
}

main {
	flex-grow: 1;
}

section {
	display: flex;
	flex-direction: column;
}

article {
	padding: var(--normal-indent);
	margin-bottom: var(--normal-indent);
}

img {
	border-radius: 50%;
	margin-right: var(--very-small-indent);
	object-fit:cover;
	width: var(--image-size);
	height:var(--image-size);
}

time {
	margin-left: auto;
	align-self: flex-start;
}

footer {
	text-align: center;
}

footer > p {
	margin-top: var(--big-indent);
	margin-bottom: var(--big-indent);
}

ul, li {
	list-style-type: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	padding-top: var(--small-indent);
	padding-bottom: var(--small-indent);
	padding-left: var(--normal-indent);
	padding-right: var(--normal-indent);
}

li > a {
	padding: 0;
}

nav {
	display: flex;
	flex-direction: row;
}

nav.letters-navigation {
	display: unset;
	padding-left: 0;
	padding-right: var(--normal-indent);
}

nav.nav-head * {
	align-items: center;
}

nav.nav-head > div:last-child {
	margin-left: auto;
}

nav.panel-titles > p {
	font-size: var(--big-font-size);
	
	margin-top: 1rem;
	margin-bottom: 1rem;
}

div.item {
	display:flex;
}

div.item * {
	padding: var(--normal-indent);
}

div.item-icon {
	color: var(--light-gray);
	
	padding-top: var(--normal-indent);
	padding-bottom: var(--normal-indent);
	padding-right: var(--normal-indent);
}

div.message-info {
	display: flex;
	flex-direction: row;
	align-items: center;
}

div.container {
	display: flex;
	flex-direction: column;
	
	margin: 0 auto;
	max-width: var(--max-size-main);
}

div.main-content {
	display: flex;
	flex-direction: row;
}

ul, div.item-icon, p.item-letters, nav.letters-navigation {
	min-width: calc(1/6 * 100%);
}

a:-webkit-any-link {
	color: inherit;
	text-decoration: none;
}

a {
	padding: var(--very-small-indent);
}

a.active-item {
	background-color: var(--light-gray);
}

div.message > *:first-child {
	margin-top: var(--very-small-indent);
	margin-bottom: var(--very-small-indent);
}

a.incoming-letters {
	padding-left: unset;
}

@media (max-width: 1024px) {
	body {
		min-height: 576px;
	}
	
	div.container {
		padding-left: var(--normal-indent);
		padding-right: var(--normal-indent);
	}

}

/*------Colors------*/
/* Dark */
article, header, footer, .active-letters-action {
	background-color: #282E3A;
}

/* Light gray */
.light-gray__back, main {
	background-color: #ECECEC;
}

.light-gray__font {
	color: #ECECEC;
}

.gray__font, body {
	color: #96A1AB;
}

.gray-blue__font {
	color: #3D4957;
}

.beige__font, h1 {
	color: #DBC7A6;
}

/*------Fonts------*/
.small-text {
	font-size: 0.75rem;
}

.normal-text, body {
	font-size: 16px;
}

.big-text, h1, h2 {
	font-size: 1.25rem;
}

/*------Border radius------*/
.normal-radius, article {
	border-radius: 0.5rem;
}

.small-radius, .active-letters-action {
	border-radius: 0.25rem;
}