* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	max-width: 1280px;
	max-height: 720px;
}

main {
	display: flex;
	flex-direction: row;
	padding-left: 3.5rem;
	padding-right: 3.5rem;
}

section {
	display: flex;
}

nav {
	display: flex;
	flex-direction: row;
	padding-left: 3.5rem;
	padding-right: 3.5rem;
}

nav.letters-navigation {
	flex-direction: column;
	padding-right: 1rem;
	padding-left: 1rem;
}

nav > .item-icon, .item-letters, .letters-navigation {
	width: calc(1/6 * 100%);
}

nav > .item {
	display:flex;
}

nav > .item-left {
	margin-left: auto;
}

a {
	padding: 1rem;
}

a.letters-action {
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}

a.incoming-letters {
	padding-left: unset;
}

@media (max-width: 1024px) {
	main {
		padding-left: 0;
		padding-right: 0;
	}

	nav {
		padding-left: 0;
		padding-right: 0;
	}
	
	nav.letters-navigation {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

/*------Colors------*/
.dark__back {
	background-color: #282E3A;
}

.light-gray__back {
	background-color: #ECECEC;
}

.light-gray__font {
	color: #ECECEC;
}

.gray__font {
	color: #96A1AB;
}

.gray-blue__font {
	color: #3D4957;
}

.beige__font {
	color: #DBC7A6;
}

/*------Fonts------*/
.small-text {
	font-size: 0.75rem;
}

.normal-text {
	font-size: 16px;
}

.big-text {
	font-size: 1.25rem;
}

/*------Border radius------*/
.normal-radius {
	border-radius: 0.5rem;
}

.small-radius {
	border-radius: 0.25rem;
}